<p class="mb-4">From integration data.</p>
Name: {{name}}<br/>
<b>{{#if active}}Enabled{{else}}Blocked{{/if}}</b><br/>
Integration ID: {{integrationId}}<br/>
Last Login: {{lastLogin}}<br/>
Token-Based Authentication: {{tokenAuthFlag}}<br/>
OAuth 2.0 Authorization Code Grant: {{authorizationCodeGrant}}<br/>
OAuth 2.0 Client Credentials: {{oauth2ClientCredentials}}<br/>
User Credentials: {{rlcAuthFlag}}<br/>
Created On: {{createdOn}}<br/>
<br/>
<button onclick="window.open('{{urlNs}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Integration Record</button>
<button onclick="window.open('{{url}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Integration Details</button>
<button onclick="window.open('{{urlTokens}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Tokens</button>
<button onclick="window.open('{{urlLogins}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Logins</button>
