# .gitignore for SuiteTools frontend project

# system files
.DS_Store

# logs
*.log

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Vite
vite.config.ts.timestamp-*.mjs

# dependencies
node_modules

# build outputs
dist/
build/
*.js
*.js.map
*.tsbuildinfo
