# .gitignore specific for SuiteTools backend workspace

# NetSuite configs
project.json

# SuiteTools backend JavaScript files from the backend build process
src/**/*.js

# SuiteTools frontend dist files from the frontend build process
dist
