<!-- title -->
<div class="mb-2">
  <h2 class="text-2xl">Files</h2>
</div>

<!-- form -->
<form method="post">
  <input type="hidden" name="custom_multiselects" id="custom_multiselects" value="">
  <button type="submit" onclick="postPage(['custom_types'], '{{scriptUrl}}');" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Files</button>

  <!-- criteria -->
  <div class="flex gap-4 p-2.5">
	<!-- rows options -->
    <div>
		<label for="custom_rows" class="block mb-2 text-sm font-medium text-gray-900">Rows</label>
		<select size=6 name="custom_rows" id="custom_rows" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- script type -->
    <div>
		<label for="custom_types" class="block mb-2 text-sm font-medium text-gray-900">File Type</label>
		<select multiple size=6 name="custom_types[]" id="custom_types" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- created date options -->
    <div>
		<label for="custom_created_dates" class="block mb-2 text-sm font-medium text-gray-900">Created Date</label>
		<select size=6 name="custom_created_dates" id="custom_created_dates" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- modified date options -->
    <div>
		<label for="custom_modified_dates" class="block mb-2 text-sm font-medium text-gray-900">Modified Date</label>
		<select size=6 name="custom_modified_dates" id="custom_modified_dates" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
  </div>
</form>

<script>
	{{{optionValues}}}
	setOptionValues(optionValues);

	{{{formSelections}}}
	setFormSelections(formSelections);
</script>

{{{fileModal}}}

{{{results}}}
