<!-- title -->
<div class="mb-2">
  <h2 class="text-2xl">Employees</h2>
</div>

<!-- form -->
<form method="post">
	<input type="hidden" name="custom_multiselects" id="custom_multiselects" value="">
	<button type="submit" onclick="postPage([], '{{scriptUrl}}');" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Employees</button>

	<!-- criteria -->
	<div class="flex gap-4 p-2.5">
		<!-- active -->
		<div>
			<label for="custom_active" class="block mb-2 text-sm font-medium text-gray-900">Active</label>
			<select size=6 name="custom_active" id="custom_active" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				<option value="U">Users</option>
				<option value="T">Active Employees</option>
				<option value="F">Inactive Employees</option>
				<option value="">All</option>
			</select>
		</div>
		<!-- role -->
		<div>
			<label for="custom_role" class="block mb-2 text-sm font-medium text-gray-900">Role</label>
			<select size=6 name="custom_role" id="custom_role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
		</div>
		<!-- supervisor -->
		<div>
			<label for="custom_supervisor" class="block mb-2 text-sm font-medium text-gray-900">Supervisor</label>
			<select size=6 name="custom_supervisor" id="custom_supervisor" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
		</div>
	</div>
</form>

<script>
	{{{optionValues}}}
	setOptionValues(optionValues);

	{{{formSelections}}}
	setFormSelections(formSelections);
</script>

{{{employeeModal}}}
{{{roleModal}}}
{{{userModal}}}

{{{results}}}
