<!-- title -->
<div class="mb-2">
  <h2 class="text-2xl">Files</h2>
</div>

<!-- form -->
<form method="post">
  <input type="hidden" name="custom_multiselects" id="custom_multiselects" value="">
  <button type="submit" onclick="postPage(['custom_types'], '{{scriptUrl}}');" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Files</button>

  <!-- criteria -->
  <div class="flex gap-4 p-2.5">
	<!-- rows options -->
    <div>
		<label for="custom_rows" class="block mb-2 text-sm font-medium text-gray-900">Rows</label>
		<select size=6 name="custom_rows" id="custom_rows" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
		  <option value="50">50</option>
		  <option value="250">250</option>
		  <option value="1000">1000</option>
		  <option value="2500">2500</option>
		  <option value="5000">5000</option>
		</select>
	</div>
	<!-- script type -->
    <div>
		<label for="custom_types" class="block mb-2 text-sm font-medium text-gray-900">File Type</label>
		<select multiple size=6 name="custom_types[]" id="custom_types" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
		</select>
	</div>
	<!-- created date options -->
    <div>
		<label for="custom_created_date_options" class="block mb-2 text-sm font-medium text-gray-900">Created Date</label>
		<select size=6 name="custom_created_date_options" id="custom_created_date_options" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
		  <option value="15">Last 15 minutes</option>
		  <option value="60">Last hour</option>
		  <option value="today">Today</option>
		  <option value="yesterday">Yesterday</option>
		  <option value="custom">Custom</option>
		</select>
	</div>
	<!-- modified date options -->
    <div>
		<label for="custom_modified_date_options" class="block mb-2 text-sm font-medium text-gray-900">Modified Date</label>
		<select size=6 name="custom_modified_date_options" id="custom_modified_date_options" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
		  <option value="15">Last 15 minutes</option>
		  <option value="60">Last hour</option>
		  <option value="today">Today</option>
		  <option value="yesterday">Yesterday</option>
		  <option value="custom">Custom</option>
		</select>
	</div>
  </div>
</form>

<div class="flex gap-4 p-2.5">
    <div>
		<button id="clear_criteria" onclick="clearSelectFields(['custom_rows', 'custom_types', 'custom_created_date_options', 'custom_modified_date_options']);" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Clear Criteria</button>
	</div>
</div>

<script>
	{{{optionValues}}}
	setOptionValues(optionValues);

	{{{formSelections}}}
	setFormSelections(formSelections);
</script>

{{{fileModal}}}

<!-- results -->
<div id="results" class="w-full h-full flex-grow p-3 overflow-auto">
  <div>
		<button id="download-xlsx" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download XLSX</button>
		<button id="download-csv" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download CSV</button>
		<button id="download-json" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download JSON</button>
	</div>
	<br />
	<div id="resultsTable"></div>
	<script>
		var scriptUrl = "{{{scriptUrl}}}";
		{{{tableData}}}
		var table = new Tabulator("#resultsTable", {
			data: tabledata,
			columnDefaults: {
				headerFilter: true,
			},
			columns: [
				{ title: "Active", field: "isinactive", headerFilter:false, hozAlign:"center", sorter: "string", formatter:function(cell, formatterParams, onRendered){
					if (cell.getValue() != "T") {
						return "Yes";
					} else {
						return "No";
					}
				}},
				{ title: "folder", field: "folder", sorter: "string" },
				{ title: "createddate", field: "createddate", hozAlign:"center", sorter: "string" },
				{ title: "lastmodifieddate", field: "lastmodifieddate", sorter: "string" },
				{ title: "Type", field: "filetypename", sorter: "string" },
				{ title: "Name", field:"name", cellClick:function(e, cell, value, data){ showFileModal(scriptUrl, cell.getValue()) }, sorter:"string"},
				{ title: "File Size", field: "filesize", sorter: "string" },
				{ title: "Description", field: "description", sorter: "string", formatter:function(cell, formatterParams, onRendered){
					if (cell.getValue() != "null") {
						return cell.getValue();
					}
				}},
				{ title: "URL", field: "url", sorter: "string",  formatter:function(cell, formatterParams, onRendered){
					if (cell.getValue() != "null") {
						return cell.getValue();
					}
				}},
			],
		});
		// trigger XLSX file download
		document.getElementById("download-xlsx").addEventListener("click", function () {
			table.download("xlsx", "files.xlsx", { sheetName: "Inventory Transactions" });
			NS.form.setInited(false);
		});
		// trigger CSV file download
		document.getElementById("download-csv").addEventListener("click", function () {
			table.download("csv", "files.csv");
			NS.form.setInited(false);
		});
		// trigger json file download
		document.getElementById("download-json").addEventListener("click", function () {
			table.download("json", "files.json");
			NS.form.setInited(false);
		});
	</script>
</div>
