<div class="mb-2">
  <h2 class="text-2xl">Integration Details</h2>
  <br>
	<div class="mb-2">
		<ul>
			<li>Name: {{name}}</li>
			<li><b>{{#if active}}Enabled{{else}}Blocked{{/if}}</b></li>
			<li>Integration ID: {{integrationId}}</li>
			<li>Created On: {{createdOn}}</li>
			<li>tokenauthflag: {{tokenauthflag}}</li>
			<li>authorizationcodegrant: {{authorizationcodegrant}}</li>
			<li>rlcauthflag: {{rlcauthflag}}</li>
		</ul>
	</div>
	<button onclick="window.open('{{urlNs}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Integration Record</button>
</div>
<br>
<div class="mb-2">
	<h3 class="text-xl">Tokens</h3>
</div>
{{{results}}}
