<!-- title -->
<div class="mb-2">
  <h2 class="text-2xl">Roles</h2>
</div>

<!-- form -->
<form method="post">
	<input type="hidden" name="custom_multiselects" id="custom_multiselects" value="">
	<button type="submit" onclick="postPage([], '{{scriptUrl}}');" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Roles</button>

	<!-- criteria -->
	<div class="flex gap-4 p-2.5">
		<!-- active -->
		<div>
			<label for="custom_active" class="block mb-2 text-sm font-medium text-gray-900">Active</label>
			<select size=6 name="custom_active" id="custom_active" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
		</div>
	</div>
</form>

<script>
	{{{optionValues}}}
	setOptionValues(optionValues);

	{{{formSelections}}}
	setFormSelections(formSelections);
</script>

{{{roleModal}}}

<!-- results -->
<div id="results" class="w-full h-full flex-grow p-3 overflow-auto">
	<div>
		<button id="download-xlsx" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download XLSX</button>
		<button id="download-csv" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download CSV</button>
		<button id="download-json" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download JSON</button>
	</div>
	<br />
	<div id="resultsTable"></div>
	<script>
		var scriptUrl = "{{{scriptUrl}}}";
		{{{tableData}}}
		var table = new Tabulator("#resultsTable", {
			data: tabledata,
			columnDefaults: {
				headerFilter: true,
			},
			columns: [
				{ title: "ID", field: "id", cellClick:function(e, cell, value, data){
					showModal(scriptUrl, ModalType.Role, cell.getValue()) }, sorter: "number" },
				{ title: "Active", field: "isinactive", headerFilter:false, hozAlign:"center", sorter: "string", formatter:function(cell, formatterParams, onRendered){
					if (cell.getValue() == "F") {
						return "Yes";
					} else {
						return "No";
					}
				}},
				{ title: "Name", field: "nameid", cellClick:function(e, cell, value, data){
					showModal(scriptUrl, ModalType.Role, cell.getValue()) }, sorter: "string" },
				{ title: "Script ID", field: "scriptid", sorter: "number" },
				{ title: "Center Type", field: "centertype", sorter: "string"},
				{ title: "Sales Role", field: "issalesrole", headerFilter:false, hozAlign:"center", sorter: "string", formatter:function(cell, formatterParams, onRendered){
					if (cell.getValue() == "T") {
						return "Yes";
					} else {
						return "No";
					}
				}},
				{ title: "Support Role", field: "issupportrole", headerFilter:false, hozAlign:"center", sorter: "string", formatter:function(cell, formatterParams, onRendered){
					if (cell.getValue() == "T") {
						return "Yes";
					} else {
						return "No";
					}
				}},
				{ title: "Web Service Only Role", field: "iswebserviceonlyrole", headerFilter:false, hozAlign:"center", sorter: "string", formatter:function(cell, formatterParams, onRendered){
					if (cell.getValue() == "T") {
						return "Yes";
					} else {
						return "No";
					}
				}},
			],
		});

		// trigger XLSX file download
		document.getElementById("download-xlsx").addEventListener("click", function () {
			table.download("xlsx", "roles.xlsx", { sheetName: "Roles" });
			NS.form.setInited(false);
		});
		// trigger CSV file download
		document.getElementById("download-csv").addEventListener("click", function () {
			table.download("csv", "roles.csv");
			NS.form.setInited(false);
		});
		// trigger json file download
		document.getElementById("download-json").addEventListener("click", function () {
			table.download("json", "roles.json");
			NS.form.setInited(false);
		});
	</script>
</div>
