<!-- title -->
<div class="mb-2">
  <h2 class="text-2xl">Server Script Logs</h2>
</div>

<!-- form -->
<form method="post">
  <input type="hidden" name="custom_multiselects" id="custom_multiselects" value="">
  <button type="submit" onclick="postPage(['custom_levels', 'custom_users', 'custom_types', 'custom_scripts', 'custom_owners'], '{{scriptUrl}}');" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Server Script Logs</button>

  <!-- criteria -->
  <div class="flex gap-4 p-2.5">
	<!-- rows options -->
    <div>
		<label for="custom_rows" class="block mb-2 text-sm font-medium text-gray-900">Rows</label>
		<select size=6 name="custom_rows" id="custom_rows" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- log level -->
    <div>
		<label for="custom_levels" class="block mb-2 text-sm font-medium text-gray-900">Level</label>
		<select multiple size=6 name="custom_levels[]" id="custom_levels" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- user -->
    <div>
		<label for="custom_users" class="block mb-2 text-sm font-medium text-gray-900">User</label>
		<select multiple size=6 name="custom_users[]" id="custom_users" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- script type -->
    <div>
		<label for="custom_types" class="block mb-2 text-sm font-medium text-gray-900">Script Type</label>
		<select multiple size=6 name="custom_types[]" id="custom_types" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- scripts -->
    <div>
		<label for="custom_scripts" class="block mb-2 text-sm font-medium text-gray-900">Script</label>
		<select multiple size=6 name="custom_scripts[]" id="custom_scripts" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- owner -->
    <div>
		<label for="custom_owners" class="block mb-2 text-sm font-medium text-gray-900">Owner</label>
		<select multiple size=6 name="custom_owners[]" id="custom_owners" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- date options -->
    <div>
		<label for="custom_dates" class="block mb-2 text-sm font-medium text-gray-900">Date</label>
		<select size=6 name="custom_dates" id="custom_dates" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
	</div>
	<!-- date range -->
	<!-- <div class="relative max-w-sm">
		<label for="custom_   " class="block mb-2 text-sm font-medium text-gray-900">Date</label>
		<input datepicker type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
	</div> -->
	<!-- date range picker -->
	<!-- <div class="relative max-w-sm">
		<label for="custom_   " class="block mb-2 text-sm font-medium text-gray-900">Start Date</label>
		<input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
	</div>
	<span class="mx-4 text-gray-500">to</span>
	<div class="relative max-w-sm">
		<label for="custom_   " class="block mb-2 text-sm font-medium text-gray-900">End Date</label>
		<input name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
	</div> -->
	<!-- date times picker -->
	<!-- <input type="text" name="datetimes" /> -->
	<!-- contains filters -->
	<div class="relative max-w-sm">
		<label class="block mb-2 text-sm font-medium text-gray-900">Content</label>
		<label for="custom_title" class="block mb-0 text-sm font-medium text-gray-900">Title</label>
		<input type="text" name="custom_title" id="custom_title"/>
		<label for="custom_detail" class="block mb-0 text-sm font-medium text-gray-900">Detail</label>
		<input type="text" name="custom_detail" id="custom_detail"/>
	</div>
  </div>
</form>

<script>
	{{{optionValues}}}
	setOptionValues(optionValues);

	{{{formSelections}}}
	setFormSelections(formSelections);
</script>

{{{scriptModal}}}
{{{userModal}}}

<!-- results -->
<div id="results" class="w-full h-full flex-grow p-3 overflow-auto">
  <div>
		<button id="download-xlsx" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download XLSX</button>
		<button id="download-csv" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download CSV</button>
		<button id="download-json" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Download JSON</button>
	</div>
	<br />
	<div id="resultsTable"></div>
	<script>
		var scriptUrl = "{{{scriptUrl}}}";
		{{{tableData}}}
		var table = new Tabulator("#resultsTable", {
			data: tabledata,
			columnDefaults: {
				headerFilter: true,
			},
			columns: [
				{ title: "ID", field: "id", sorter: "number" },
				{ title: "Timestamp", field: "timestamp", sorter: "string" },
				{ title: "Type", field: "type", sorter: "string" },
				{ title: "User", field: "user", cellClick:function(e, cell, value, data){
					showModal(scriptUrl, ModalType.User, cell.getValue()) }, sorter: "string" },
				{ title: "Script Type", field: "scripttype", sorter: "string" },
				{ title: "Owner", field: "owner", cellClick:function(e, cell, value, data){
					showModal(scriptUrl, ModalType.User, cell.getValue()) }, sorter: "string" },
				{ title: "Script", field:"scriptname", cellClick:function(e, cell, value, data){
					showModal(scriptUrl, ModalType.Script, cell.getValue()) }, sorter: "string" },
				{ title: "Title", field: "title", sorter: "string" },
				{ title: "Detail", field: "detail", sorter: "string" },
			],
		});
		// trigger XLSX file download
		document.getElementById("download-xlsx").addEventListener("click", function () {
			table.download("xlsx", "scriptLogs.xlsx", { sheetName: "Script Logs" });
			NS.form.setInited(false);
		});
		// trigger CSV file download
		document.getElementById("download-csv").addEventListener("click", function () {
			table.download("csv", "scriptLogs.csv");
			NS.form.setInited(false);
		});
		// trigger json file download
		document.getElementById("download-json").addEventListener("click", function () {
			table.download("json", "scriptLogs.json");
			NS.form.setInited(false);
		});
	</script>
</div>
