<div class="mb-2">
	<h2 class="text-2xl">Settings</h2>
	<div class="mb-2">
		<h3 class="text-xl">Configuration</h3>
		<p>The configuration values change between environments.</p>
		<ul class="list-disc list-inside ml-4">
			<li>Record Id: {{{recordid}}}<br/></li>
			<li>CSS URL: {{cssurl}}</li>
			<li>JS URL: {{jsurl}}</li>
		</ul>
	</div>
	<div class="mb-2">
		<h3 class="text-xl">Application</h3>
		<p>The application settings.</p>
		<ul class="ml-4">
			<li>
				<label class="relative inline-flex items-center cursor-pointer">
					<input type="checkbox" id="devmode" value="" class="sr-only peer" checked>
					<div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
					<span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Dev Mode</span>
				</label>
			</li>
			<li>
				<button onclick="getNsIntegrationData('{{{scriptUrl}}}&action=postData');" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Get NetSuite Integrations Data</button>
				<span id="integrationSpinner" class="align-top h-7 w-7 inline-block rounded-full border-4 border-t-blue-500 animate-spin" style="visibility: hidden;"></span>
			</li>
			<li>
				<button onclick="getNsLastLoginData('{{{scriptUrl}}}&action=postData');" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Get Last Login Data</button>
				<span id="loginSpinner" class="align-top h-7 w-7 inline-block rounded-full border-4 border-t-blue-500 animate-spin" style="visibility: hidden;"></span>
			</li>
		</ul>
	</div>
</div>

<!-- load libraries needed to scrape tables on NetSuite pages -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- table-to-json -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/table-to-json/1.0.0/jquery.tabletojson.min.js" integrity="sha512-kq3madMG50UJqYNMbXKO3loD85v8Mtv6kFqj7U9MMpLXHGNO87v0I26anynXAuERIM08MHNof1SDaasfw9hXjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	const integrationSpinnerElement = document.getElementById("integrationSpinner");
	const loginSpinnerElement = document.getElementById("loginSpinner");

	// set Dev Mode checkbox
	document.getElementById('devmode').checked = {{devmode}};
	// listen for Dev Mode checkbox change
	document.getElementById('devmode').addEventListener('change', function() {
		console.log('devmode changed to ' + this.checked);
		postData('devmode', this.checked, '{{{scriptUrl}}}&action=postData');
	});

	/**
	 * Get page table content
	 *
	 * @requires jQuery and tableToJSON
	 *
	 * @param {string} url - the endpoint to get data from
	 * @param {string} id - the id of the table element to get
	 * @returns {object} - the table data
	 */
	function getPageTableContent(url, id) {

		// TODO - add ability to get data from multiple pages

		return fetch(url)
		.then((response) => response.text())
		.then((pageData) => {
			const parser = new DOMParser();
			const domPage = parser.parseFromString(pageData, 'text/html');
			const table = domPage.getElementById(id).innerHTML;
			const tableJson = jQuery(table).tableToJSON({ignoreHiddenRows: false});
			console.log(tableJson);

			return tableJson;
		})
		.catch((error) => {
			console.error(`getPageTableContent Error =\n`, error);
		});
	};

	/**
	 * Get NetSuite integration data.
	 *
	 * @param {string} destUrl - the destination URL to post the data to
	 * @returns {void}
	 */
	async function getNsIntegrationData(destUrl) {
		let nsData = [];
		console.log('getNsIntegrationData() initiated. Loading data from NetSuite...');

		integrationSpinnerElement.style.visibility = "visible";

		// integrations
		// get from Integrations page
		const integrations = await getPageTableContent('/app/common/integration/integrapplist.nl', 'div__body');
		console.log('integrations = ' + JSON.stringify(integrations));
		nsData.push({ name: 'integrations', values: integrations });

		// remove last record since it contains the the header row
		integrations.pop();
		// supplement integrations data with additional data
		let integrationsDetails = [];
		await Promise.all(integrations.map(async (integration) => {
			integrationId = integration['Internal ID'];
			// authentication tab
			const authenticationData = { "name": integrationId, "values": await getIntegrationPageContent(`/app/common/integration/integrapp.nl?id=${integrationId}`)};
			// console.log('authenticationData = ' + JSON.stringify(authenticationData));
			integrationsDetails.push(authenticationData);
		}));
		console.log('integrationsDetails = ' + JSON.stringify(integrationsDetails));
		nsData.push({ name: 'integrationsDetails', values: integrationsDetails });

		// tokens
		// get from Tokens page
		const tokenData = await getPageTableContent('/app/setup/accesstokens.nl', 'div__body');
		nsData.push({ name: 'tokens', values: tokenData });

		// post integrations data to SuiteTools
		postData('integrations', nsData, destUrl);

		integrationSpinnerElement.style.visibility = "hidden";
	}

	async function getIntegrationPageContent(url) {
		return fetch(url)
		.then((response) => response.text())
		.then((pageData) => {
			const parser = new DOMParser();
			const doc = parser.parseFromString(pageData, 'text/html');
			const nsData = [];
			nsData.push({ name: 'tokenauthflag', values: doc.querySelector(`#tokenauthflag_fs > img[alt]`).alt });
			nsData.push({ name: 'authorizationcodegrant', values: doc.querySelector(`#authorizationcodegrant_fs > img[alt]`).alt });
			nsData.push({ name: 'rlcauthflag', values: doc.querySelector(`#rlcauthflag_fs > img[alt]`).alt });

			return nsData;
		})
		.catch((error) => {
			console.error(`getIntegrationPageContent() Error =\n`, error);
		});
	};

	/**
	 * Get NetSuite last login data.
	 *
	 * @param {string} destUrl - the destination URL to post the data to
	 * @returns {void}
	 */
	async function getNsLastLoginData(destUrl) {
		let nsData = [];
		console.log('getNsLastLoginData() initiated. Loading data from NetSuite...');

		loginSpinnerElement.style.visibility = "visible";

		// get list of integrations from NetSuite Integrations page
		const integrations = await getPageTableContent('/app/common/integration/integrapplist.nl', 'div__body');
		console.log('integrations = ' + JSON.stringify(integrations));
		// remove last record since it contains the the header row
		integrations.pop();
		nsData.push({ name: 'integrations', values: integrations });

		// post integrations data to SuiteTools
		postData('lastLogins', nsData, destUrl);

		loginSpinnerElement.style.visibility = "hidden";
	}
</script>
