<div class="mb-2">
  <h2 class="text-2xl">Settings</h2>
	<div class="mb-2">
		<h3 class="text-xl">Configuration</h3>
		<p>The configuration values change between environments.</p>
		<ul class="list-disc list-inside ml-4">
			<li>Record Id: {{recordid}}<br/></li>
			<li>CSS URL: {{cssurl}}</li>
			<li>JS URL: {{jsurl}}</li>
		</ul>
	</div>
	<div class="mb-2">
		<h3 class="text-xl">Application</h3>
		<p>The application settings.</p>
		<ul class="ml-4">
			<li>
				<label class="relative inline-flex items-center cursor-pointer">
					<input type="checkbox" id="devmode" value="" class="sr-only peer" checked>
					<div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
					<span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Dev Mode</span>
				</label>
			</li>
			<li>
				<button onclick="getIntegrations();" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Update Integrations</button>
			</li>
			<li>
				<button onclick="getTokens();" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">Update Tokens</button>
			</li>
		</ul>
	</div>
</div>

<!-- load libraries need to process the integration data -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- table-to-json -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/table-to-json/1.0.0/jquery.tabletojson.min.js" integrity="sha512-kq3madMG50UJqYNMbXKO3loD85v8Mtv6kFqj7U9MMpLXHGNO87v0I26anynXAuERIM08MHNof1SDaasfw9hXjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	// set Dev Mode checkbox
	document.getElementById('devmode').checked = {{devmode}};
	// listen for Dev Mode checkbox change
	document.getElementById('devmode').addEventListener('change', function() {
		console.log('devmode changed to ' + this.checked);
		postData('devmode', this.checked, '{{{scriptUrl}}}&action=postData');
	});

	/**
	 * Post data to an endpoint.
	 *
	 * @param data - the data to post
	 * @param {string} url - the endpoint to post to
	 */
		function postData(name, data, url) {
		const requestOptions = {
			method: 'POST',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify({ name: name, value: data })
		};
		return fetch(url, requestOptions)
			.then(response => response.text())
			.catch(error => console.error('postData Error =\n', error));
	}

	/**
	 * Get Integration data
	 *
	 * @param {string} url - the endpoint to get data from
	 */
		function getIntegrations() {
		// helper function to get the content from a page
		const getPageContent = (URL) => {
			return fetch(url)
			.then((response) => response.text())
			.then((pageData) => {
				// parse page data
				const parser = new DOMParser();
				const domPage = parser.parseFromString(pageData, 'text/html');
				const table = domPage.getElementById('div__body').innerHTML;
				// console.log(table);
				const tableJson = jQuery(table).tableToJSON({ignoreHiddenRows: false});
				// console.log(tableJson);

				return tableJson;
			})
			.catch((error) => {
				console.error(`getPageContent Error =\n`, error);
			});
		};
		// get the data from Integrations page - https://XYZ.app.netsuite.com/app/common/integration/integrapplist.nl
		// post integrations data to SuiteTools
		const url = '/app/common/integration/integrapplist.nl';
		const getIntegrationData = async () => {
			const integrationData = await getPageContent(url);
			console.log(integrationData);
			destUrl = '{{{scriptUrl}}}&action=postData';
			postData('integrations', integrationData, destUrl);
		};
		getIntegrationData();
	}

	/**
	 * Get Token data
	 *
	 * @param {string} url - the endpoint to get data from
	 */
	 function getTokens() {
		// helper function to get the content from a page
		const getPageContent = (URL) => {
			return fetch(url)
			.then((response) => response.text())
			.then((pageData) => {
				// parse page data
				const parser = new DOMParser();
				const domPage = parser.parseFromString(pageData, 'text/html');
				const table = domPage.getElementById('div__body').innerHTML;
				// console.log(table);
				const tableJson = jQuery(table).tableToJSON({ignoreHiddenRows: false});
				// console.log(tableJson);

				return tableJson;
			})
			.catch((error) => {
				console.error(`getPageContent Error =\n`, error);
			});
		};
		// get the data from Tokens page - https://XYZ.app.netsuite.com/app/setup/accesstokens.nl
		// post tokens data to SuiteTools
		const url = '/app/setup/accesstokens.nl';
		const getTokenData = async () => {
			const tokenData = await getPageContent(url);
			console.log(tokenData);
			destUrl = '{{{scriptUrl}}}&action=postData';
			postData('tokens', tokenData, destUrl);
		};
		getTokenData();
	}
</script>
