<div class="mb-2">
  <h2 class="text-2xl">Token Details</h2>
	<div class="mb-2">
		<ul>
			<li>Name: {{name}}</li>
			<li>{{#if active}}<b>Active</b>{{else}}<b>Inactive</b>{{/if}}</li>
			<li>User: {{user}}</li>
			<li>Role: {{role}}</li>
			<li>Integration: {{integration}}</li>
			<li>Created By: {{createdOn}}</li>
			<li>Created By: {{createdBy}}</li>
		</ul>
	</div>
	<button onclick="window.open('{{urlNs}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Token Record</button>
	<button onclick="window.open('{{url}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Token Details</button>
	<button onclick="window.open('{{urlIntegration}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Integration</button>
</div>
