Name: {{entityid}}<br/>
{{#if isinactive}}Inactive{{else}}<b>Active</b>{{/if}}<br/>
First Name: {{firstname}}<br/>
Last Name: {{lastname}}<br/>
email: {{email}}<br/>
Supervisor: {{supervisor}}<br/>
Title: {{title}}<br/>
{{#if notes}}Notes: {{notes}}<br/>{{/if}}
Supervisor URL: {{supervisorurl}}<br/>
<!-- <button onclick="window.open('{{url}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View User Details</button> -->
<button onclick="window.open('{{urlNs}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View User Record</button>
<button onclick="window.open('{{urlUserScriptLogs}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View User Script Logs</button>
<button onclick="window.open('{{urlOwnerScriptLogs}}', '_blank')" class="text-white bg-gray-500 hover:bg-grey-800 focus:ring-4 focus:outline-none focus:ring-grey-300 font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-1 text-center dark:bg-grey-600 dark:hover:bg-grey-300 dark:focus:ring-grey-800">View Owned Script Logs</button>
