<!-- title -->
<div class="mb-2">
  <h2 class="text-2xl">Concurrency Summary</h2>
</div>

<div class="mb-2">
	<label for="dateRange" class="mb-2 pr-2 font-medium text-gray-900">Date Range</label>
	<select id="dateRange" onchange="changeDateRange()" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 px-2 py-0.5">
		<option value="3">Last 3 Days</option>
		<option value="7">Last 7 Days</option>
		<option value="14">Last 14 Days</option>
		<option value="30">Last 30 Days</option>
	</select>
</div>

 <div class="py-2 px-2 mx-auto text-center">
	<div class="flex bg-gray-50 rounded-lg shadow">
		<div class="flex-1 p-5">
			<h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">Concurrency Limit</h3>
			<h1 id="concurrencyLimit" class="text-3xl text-gray-500 p-2"></h1>
		</div>
		<div class="flex-1 p-5">
			<h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">Peak Concurrency</h3>
			<h1 id="peakConcurrency" class="text-3xl text-gray-500 p-2"></h1>
			<span id="peakConcurrencyDate" class="text-gray-500"></span>
		</div>
		<div class="flex-1 p-5">
			<h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">Close to the Limit</h3>
			<h1 id="closeToLimitRate" class="text-3xl text-gray-500 p-2"></h1>
			<span id="closeToLimitRange" class="text-gray-500"></span>
		</div>
		<div class="flex-1 p-5">
			<h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">Over the Limit</h3>
			<h1 id="overLimitRate" class="text-3xl text-gray-500 p-2"></h1>
			<span id="overLimitRange" class="text-gray-500"></span>
		</div>
		<div class="flex-1 p-5">
			<h1 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">Error Rate</h1>
			<span id="errorRate" class="text-3xl text-gray-500 p-2"></span>
		</div>
	</div>
</div>

<div class="mb-2">
	<h2 class="text-xl">Heat Map</h2>
	<div id="heatMapPeak"></div>
</div>

<div class="mb-2">
	<h2 class="text-xl">Summary Table</h2>
	<div id="summaryTable"></div>
</div>

<span id="accountId" style="display: none;">{{accountId}}</span>
<span id="concurrencySummaryUrl" style="display: none;">{{concurrencySummaryUrl}}</span>

<script>
	const accountIdField  = document.getElementById("accountId");
	const accountId = String(accountIdField.textContent);
	const urlField  = document.getElementById("concurrencySummaryUrl");
	const url = String(urlField.textContent);
	window.onload = function(){ getNsConcurrencySummaryData(url); };

	function changeDateRange(){
		const dateRange = document.getElementById("dateRange").value;
		const url = getConcurrencySummaryUrl(accountId, dateRange)
		getNsConcurrencySummaryData(url);
	};

	/**
	 * Get NetSuite concurrency summary data.
	 *
	 * @param url - the URL to get the data from
	 * @returns {void}
	 */
	async function getNsConcurrencySummaryData(url) {
		console.log('getNsConcurrencySummaryData() initiated with ' + JSON.stringify({ }));
		// get data from NetSuite APM service
		console.log('getNsConcurrencySummaryData() loading data from NetSuite...');
		const response = await getJsonPageContent(url);
		// log
		console.log('response = ' + JSON.stringify(response));
		console.log('success = ' + response.success);
		console.log('message = ' + response.message);
		console.log('overview = ' + JSON.stringify(response.data.overview));
		// heat map data
		const hours = response.data.xCategories;
		console.log('hours = ' + JSON.stringify(hours));
		// peak concurrency
		const peaks = response.data.series.peak;
		console.log('peaks = ' + JSON.stringify(peaks))
		// summary results
		const results = response.data.results;
		console.log('results = ' + JSON.stringify(results));

		// OVERVIEW SECTION
		// define variables
		const concurrencyLimit = response.data.overview.concurrencyLimit;
		const peakConcurrency = response.data.overview.peakConcurrency.value;
		const peakConcurrencyDate = formatDate(response.data.overview.peakConcurrency.dateMS);
		const closeToLimitRate = response.data.overview.timeCloseToLimit.value + '%';
		const closeToLimitRange = 'Requests between ' + response.data.overview.timeCloseToLimit.lowerRange + ' and ' + response.data.overview.timeCloseToLimit.upperRange;
		const overLimitRate = response.data.overview.timeOverLimit.value + '%';
		const overLimitRange = 'Requests over ' + response.data.overview.timeOverLimit.range;

		// TODO retrieve error rate
		const errorRate = 'TBD';

		// set values
		document.getElementById("concurrencyLimit").textContent = concurrencyLimit;
		document.getElementById("peakConcurrency").textContent = peakConcurrency;
		document.getElementById("peakConcurrencyDate").textContent = peakConcurrencyDate;
		document.getElementById("closeToLimitRate").textContent = closeToLimitRate;
		document.getElementById("closeToLimitRange").textContent = closeToLimitRange;
		document.getElementById("overLimitRate").textContent = overLimitRate;
		document.getElementById("overLimitRange").textContent = overLimitRange;
		document.getElementById("errorRate").textContent = errorRate;

		// BUILD HEATMAP TABLE
		if (peaks && peaks.length > 0) {
			// define columns for table
			let columns = [];
			columns.push({title: "", field: "date", sorter: "string", headerSort: false, width: 80, hozAlign:"center",
});
			for (let i = 0; i < 24; i++) {
				const hour = new Date(hours[i]);
				// value field which is visible
				const col = {
					title: hour.toLocaleTimeString('en-US', {timeStyle: 'short'}),
					field: String(i),
					sorter: "string",
					headerSort: false,
					formatter:"link",
					formatterParams: {
						labelField: String(i),
						urlField: 'link' + String(i),
						target:"_blank",
					},
					hozAlign:"center",
				};
				columns.push(col);
				// link field which is not visible
				const linkCol = {
					title: 'link' + String(i),
					field: 'link' + String(i),
					visible: false,
				};
				columns.push(linkCol);
			}
			console.log('columns = ' + JSON.stringify(columns));

			// loop thru columns
			const url = '{{{scriptUrl}}}&action=apmConcurDetail'
			const rows = [];
			let col = {};
			for (let i = 0; i < peaks.length; i++) {
				// load data
				const peak = peaks[i];
				console.log('peak = ' + JSON.stringify(peak));
				// example data payload: [0, 0, 75, 1684047600000]
				// const hour = peak[0];
				// const ??? = peak[1];
				const percentage = peak[2];
				const startDate = peak[3];
				// endDate is 1 hour after startDate
				const endDate = startDate + 3600000;
				// create new row every 24 columns

				// set column values
				const colPosition = i % 24;
				// console.log('colPosition = ' + colPosition);
				if (colPosition == 0) {
					if (i > 0) {
						// create new row
						// console.log('creating new row when i = ' + i);
						rows.push(col);
						col = {};
					}
					// add in date column
					col['date'] = new Date(startDate).toLocaleDateString();
					console.log('setting startDate to ' + col['date']);
				}
				col[colPosition] = percentage;
				col['link' + String(colPosition)] = url + '&startDate=' + startDate + '&endDate=' + endDate;
			}
			// if last row is not full, add it
			if (col && Object.keys(col).length > 0) {
				rows.push(col);
			}
			console.log('rows = ' + JSON.stringify(rows));

			// define table
			const heatMapPeak = new Tabulator("#heatMapPeak", {
				data: rows,
				ordering: false,
				layout: "fitColumns",
				columns: columns,
			});
		}

		// BUILD SUMMARY TABLE
		if (results && results.length > 0) {
			// format results
			formattedResults = [];
			for (let i = 0; i < results.length; i++) {
				const result = results[i];
				// example data payload: {"startTime":1683442800000,"endTime":1683446400000,"averageConcurrency":1,"peakConcurrency":8}
				const formattedResult = {
					"startTimeMS": result.startTime,
					"endTimeMS": result.endTime,
					"startTime": formatDate(result.startTime),
					"endTime": formatDate(result.endTime),
					"averageConcurrency": result.averageConcurrency,
					"peakConcurrency": result.peakConcurrency,
				};
				formattedResults.push(formattedResult);
			}
			// define table
			const summaryTable = new Tabulator("#summaryTable", {
				data:formattedResults,
				layout:"fitColumns",
				columns:[
					{ title:"startTimeMS", field:"startTimeMS", visible:false },
					{ title:"endTimeMS", field:"endTimeMS", visible:false },
					{ title:"Start Time", field:"startTime", sorter:"string", width:160 },
					{ title:"End Time", field:"endTime", sorter:"string", width:160 },
					{ title:"Average Concurrency", field:"averageConcurrency", sorter:"number", width:200 },
					{ title:"Peak Concurrency", field:"peakConcurrency", sorter:"number", width:200 },
				],
			});
			// define row click event function
			summaryTable.on("rowClick", function(e, row){
				console.log(row.getData());
				const startTimeMS = row.getData().startTimeMS;
				const endTimeMS = row.getData().endTimeMS;
				// open new tab with concurrency detail
				window.open('{{{scriptUrl}}}&action=apmConcurDetail' + '&startDate=' + startTimeMS + '&endDate=' + endTimeMS);
			});
		}
	}

	/**
	 * Build the relative URL to get the concurrency summary.
	 *
	 * @param accountId - the NetSuite account ID
	 * @param days - the number of days to get the summary for
	 * @returns url - the url to get the concurrency summary
	 */
	function getConcurrencySummaryUrl(accountId, days) {
		console.log('getConcurrencySummaryUrl() initiated with ' + JSON.stringify({ accountId: accountId, days: days }));
		// example URL: /app/site/hosting/scriptlet.nl?script=customscript_nsapm_cm_sl_concurrency_v2&deploy=customdeploy_nsapm_cm_sl_concurrency_v2&compfil=(REDACTED)&testmode=F&startDateMS=1683512580000&endDateMS=1683771780000&integId=&offsetMins=420
		const path = '/app/site/hosting/scriptlet.nl';
		const endDateMS = Date.now();
		const startDateMS = endDateMS - days * 86400000; // x days ago
		params = [];
		params.push('script=customscript_nsapm_cm_sl_concurrency_v2'); // script (note cm instead of cd)
		params.push('deploy=customdeploy_nsapm_cm_sl_concurrency_v2'); // deploy (note cm instead of cd)
		params.push('compfil=' + accountId); // accountId
		params.push('testmode=F'); // testmode
		params.push('startDateMS=' + startDateMS); // startDate
		params.push('endDateMS=' + endDateMS); // endDate
		params.push('integId='); // integId
		params.push('offsetMins=420'); // 7 (420/60) hour time offset for PST
		const url = path + '?' + params.join('&');
		console.log('getConcurrencySummaryUrl() returning ' + url);
		return url;
	}
</script>
