<div class="mb-2">
	<h2 class="text-2xl">Concurrency Detail</h2>
</div>

<div id="spinner" class="grid place-content-center">
	<span id="spinner" class="align-top h-7 w-7 inline-block rounded-full border-4 border-t-blue-500 animate-spin"></span>
</div>

<div id="results" style="display: none;">
	<div class="py-2 px-2 mx-auto text-center">
		<div class="flex bg-gray-50 rounded-lg shadow">
			<div class="flex-1 p-5">
				<h3 class="text-xl font-bold tracking-tight text-gray-900">Concurrency Limit</h3>
				<h1 id="concurrencyLimit" class="text-3xl text-gray-500 p-2"></h1>
			</div>
			<div class="flex-1 p-5">
				<h3 class="text-xl font-bold tracking-tight text-gray-900">Peak Concurrency</h3>
				<h1 id="peakConcurrency" class="text-3xl text-gray-500 p-2"></h1>
				<span id="peakConcurrencyDate" class="text-sm text-gray-500"></span>
			</div>
			<div class="flex-1 p-5">
				<h3 class="text-xl font-bold tracking-tight text-red-700">Error Rate</h3>
				<h1 id="errorRate" class="text-3xl text-gray-500 p-2"></h1>
				<span id="errorRateDetail" class="text-sm text-gray-500"></span>
			</div>
			<div class="flex-1 p-5">
				<h3 class="text-xl font-bold tracking-tight text-gray-900">Top Unallocated Integrations</h3>
				<span id="topIntegrations" class="text-sm text-gray-500"></span>
			</div>

		</div>
	</div>

	<div class="mb-2">
		<h2 class="text-xl">Detail Table</h2>
		<div id="detailTable"></div>
	</div>

	<div class="mb-2">
		<h2 class="text-xl">Requests Table</h2>
		<div id="requestTable"></div>
	</div>
</div>

{{{scriptModal}}}

<span id="accountId" style="display: none;">{{accountId}}</span>
<span id="startDate" style="display: none;">{{startDate}}</span>
<span id="endDate" style="display: none;">{{endDate}}</span>

<script>
	const accountIdField  = document.getElementById("accountId");
	const accountId = String(accountIdField.textContent);
	const spinnerElement = document.getElementById("spinner");
	const resultsElement = document.getElementById("results");
	window.onload = function(){ getNsConcurrencyDetail(); };

	const scriptUrl = "{{{scriptUrl}}}";

	function getNsConcurrencyDetail(){
		const startDateElement  = document.getElementById("startDate");
		const startDate = String(startDateElement.textContent);
		const endDateElement  = document.getElementById("endDate");
		const endDate = String(endDateElement.textContent);
		const summaryUrl = getConcurrencyDetailUrl(accountId, startDate, endDate);
		const violationsUrl = getConcurrencyViolationsUrl(accountId, startDate, endDate);
		getNsConcurrencyDetailData(summaryUrl, violationsUrl);
	};

	/**
	 * Get NetSuite concurrency detail data.
	 *
	 * @param {string} url - the URL to the data from
	 * @returns {void}
	 */
	async function getNsConcurrencyDetailData(summaryUrl, violationsUrl) {
		console.log('getNsConcurrencyDetailData() initiated with ' + JSON.stringify({ summaryUrl: summaryUrl, violationsUrl: violationsUrl }));
		console.log('getNsConcurrencyDetailData() loading data from NetSuite...');

		// get concurrency violation data from NetSuite's APM service
		const violationResponse = await getJsonPageContent(violationsUrl);
		console.log('violationResponse = ' + JSON.stringify(violationResponse));
		const topIntegrations = violationResponse.data.overview.topIntegrations;
		console.log('topIntegrations = ' + JSON.stringify(topIntegrations));
		const violations = violationResponse.data.indices;
		console.log('violations = ' + JSON.stringify(violations));

		// get concurrency detail data from NetSuite's APM service
		const response = await getJsonPageContent(summaryUrl);
		const results = response.data.results;
		console.log('response = ' + JSON.stringify(response));
		console.log('success = ' + response.success);
		console.log('message = ' + response.message);
		console.log('overview = ' + JSON.stringify(response.data.overview));
		console.log('results = ' + JSON.stringify(results));

		// OVERVIEW SECTION
		// define variables
		const concurrencyLimit = response.data.overview.concurrencyLimit;
		const peakConcurrency = response.data.overview.peakConcurrency.value;
		const peakConcurrencyDate = formatDate(response.data.overview.peakConcurrency.dateMS);
		// calculate error rate percentage
		const errorRate = violationResponse.data.overview.totalViolations / violationResponse.data.overview.totalRequests * 100;
		const errorRateRounded = Math.round(errorRate * 100) / 100 + '%';
		const errorRateDetail = violationResponse.data.overview.totalViolations + ' violations in ' + violationResponse.data.overview.totalRequests + ' requests';
		// get top integration names
		let topIntegrationsArray = [];
		if (topIntegrations && topIntegrations.length > 0) {
			for (let i = 0; i < topIntegrations.length; i++) {
				const topIntegration = topIntegrations[i];
				topIntegrationsArray.push(topIntegration.name + ' - ' + topIntegration.value + ' requests');
			}
		}
		const topIntegrationsContent = topIntegrationsArray.join('\n');

		// set values
		document.getElementById("concurrencyLimit").textContent = concurrencyLimit;
		document.getElementById("peakConcurrency").textContent = peakConcurrency;
		document.getElementById("peakConcurrencyDate").textContent = peakConcurrencyDate;
		document.getElementById("errorRate").textContent = errorRateRounded;
		document.getElementById("errorRateDetail").textContent = errorRateDetail;
		document.getElementById("topIntegrations").innerText = topIntegrationsContent;

		// BUILD DETAIL DATA
		// format results
		let formattedResults = [];
		if (results && results.length > 0) {
			for (let i = 0; i < results.length; i++) {
				const result = results[i];
				// example data payload: {"startTime":1682002800000,"endTime":1682002860000,"averageConcurrency":0,"peakConcurrency":1,"peakConcurrencyTime":"2023-04-20 15:00:24"}
				const formattedResult = {
					"startTimeMS": result.startTime,
					"endTimeMS": result.endTime,
					"startTime": formatDate(result.startTime),
					"endTime": formatDate(result.endTime),
					"averageConcurrency": result.averageConcurrency,
					"peakConcurrency": result.peakConcurrency,
					"peakConcurrencyTime": result.peakConcurrencyTime,
				};
				formattedResults.push(formattedResult);
			}
		}
		// define table
		let detailTable = new Tabulator("#detailTable", {
			data:formattedResults,
			layout:"fitColumns",
			columns:[
				{ title:"startTimeMS", field:"startTimeMS", visible:false },
				{ title:"endTimeMS", field:"endTimeMS", visible:false },
				{ title:"Start Time", field:"startTime", sorter:"string", width:160, hozAlign:"center" },
				{ title:"End Time", field:"endTime", sorter:"string", width:160, hozAlign:"center" },
				// { title:"Average Concurrency", field:"averageConcurrency", sorter:"number", width:185, hozAlign:"center" },
				{ title:"Peak Concurrency", field:"peakConcurrency", sorter:"number", width:170, hozAlign:"center" },
				{ title:"Peak Concurrency", field:"peakConcurrencyTime", width:170, hozAlign:"center" },
			],
		});
		// define row click event function
		detailTable.on("rowClick", function(e, row){
			console.log(row.getData());
			const startTimeMS = row.getData().startTimeMS;
			const endTimeMS = row.getData().endTimeMS;
			getNsConcurrencyRequestData(startTimeMS, endTimeMS);
		});
		// show results
		spinnerElement.style.display = "none";
		resultsElement.style.display = "block";
	}

	/**
	 * Build the relative URL to get the concurrency detail.
	 *
	 * @param {string} accountId - the NetSuite account ID
	 * @param {string} startDate - the start date
	 * @param {string} endDate - the end date
	 * @returns {string} url - the url to get the concurrency detail
	 */
	function getConcurrencyDetailUrl(accountId, startDate, endDate) {
		console.log('getConcurrencyDetailUrl() initiated with ' + JSON.stringify({ accountId: accountId, startDate: startDate, endDate: endDate }));

		// example URL: /app/site/hosting/scriptlet.nl?script=customscript_nsapm_cd_sl_concurrency_v2&deploy=customdeploy_nsapm_cd_sl_concurrency_v2&testmode=F&startDateMS=1682002800000&endDateMS=1682006400000&concurrencyMode=noallocation&integId=&compfil=(REDACTED)&allocatedList=

		const path = '/app/site/hosting/scriptlet.nl';
		params = [];
		params.push('script=customscript_nsapm_cd_sl_concurrency_v2'); // script (note cd instead of cm)
		params.push('deploy=customdeploy_nsapm_cd_sl_concurrency_v2'); // deploy (note cd instead of cm)
		params.push('compfil=' + accountId); // account ID
		params.push('testmode=F'); // test mode
		params.push('startDateMS=' + startDate); // start date
		params.push('endDateMS=' + endDate); // end date
		params.push('concurrencyMode=noallocation'); // concurrency mode
		params.push('allocatedList='); // allocated list
		params.push('integId='); // integration ID
		url = path + '?' + params.join('&');
		console.log('getConcurrencyDetailUrl() returning ' + url);

		return url;
	}

	/**
	 * Build the relative URL to get the violation data.
	 *
	 * @param accountId - the NetSuite account ID
	 * @param days - the number of days to get the data for
	 * @returns url - the url to get the violation data
	 */
	 function getConcurrencyViolationsUrl(accountId, startDate, endDate) {
		console.log('getConcurrencyViolationsUrl() initiated with ' + JSON.stringify({ accountId: accountId, startDate: startDate, endDate: endDate }));
		// example URL: /app/site/hosting/scriptlet.nl?script=customscript_nsapm_cd_sl_violations_v2&deploy=customdeploy_nsapm_cd_sl_violations_v2&testmode=F&startDateMS=1685383200000&endDateMS=1685386800000&concurrencyMode=noallocation&integId=&compfil=(REDACTED)&allocatedList=
		const path = '/app/site/hosting/scriptlet.nl';
		params = [];
		params.push('script=customscript_nsapm_cd_sl_violations_v2'); // script (note cm instead of cd)
		params.push('deploy=customdeploy_nsapm_cd_sl_violations_v2'); // deploy (note cm instead of cd)
		params.push('startDateMS=' + startDate); // start date
		params.push('endDateMS=' + endDate); // end date
		params.push('integId='); // integration ID
		params.push('compfil=' + accountId); // accountId
		params.push('allocatedList'); // 7 (420/60) hour time offset for PST
		const url = path + '?' + params.join('&');
		console.log('getConcurrencyViolationsUrl() returning ' + url);
		return url;
	}

	/**
	 * Get the core id from a string
	 *
	 * TODO - Move to a utility file.  Currently this is also in the idev-suitetools-client.js file.
	 *
	 * @param {string | number} id which could include a name with the actual id inside the parentheses at the end
	 * @returns {string | number} id
	 */
	function getCoreId(id) {
		// if id is inside paretheses at end then set id to just that
		var str = id.toString();
		var matches = str.match(/\((-?\d+)\)$/);
		if (matches) {
			id = matches[1];
		}
		return id;
	}

	/**
	 * Get NetSuite concurrency request data.
	 *
	 * @returns {void}
	 */
	async function getNsConcurrencyRequestData(startTimeMS, endTimeMS) {
		console.log('getNsConcurrencyRequestData() initiated with ' + JSON.stringify({ startTimeMS: startTimeMS, endTimeMS: endTimeMS }));

		// get data from NetSuite
		const accountIdField  = document.getElementById("accountId");
		const accountId = String(accountIdField.textContent);
		console.log('accountId = ' + accountId);
		const url = getConcurrencyRequestUrl(accountId, startTimeMS, endTimeMS);
		console.log('getNsConcurrencyRequestData() loading data from NetSuite...');
		const response = await getJsonPageContent(url);
		const results = response.data;
		// log info
		console.log('response = ' + JSON.stringify(response));
		console.log('success = ' + response.success);
		console.log('message = ' + response.message);
		console.log('results = ' + JSON.stringify(results));
		// format results
		let formattedResults = [];
		for (let i = 0; i < results.length; i++) {
			const result = results[i];
			// example data payload: {"startDate":1683659421675,"type":"WEBSERVICES","integrationId":71608,"operation":"search","endDate":1683659421780,"scriptId":null,"integration":"SPS Commerce Fulfillment","scriptName":"","status":"FINISHED","wouldBeRejected":false
			const formattedResult = {
				"startDateMS": result.startDate,
				"endDateMS": result.endDate,
				"startDate": formatDate(result.startDate),
				"endDate": formatDate(result.endDate),
				"duration": (result.endDate - result.startDate) / 1000,
				"type": result.type,
				// "integrationId": result.integrationId,
				"operation": result.operation,
				// "scriptId": result.scriptId,
				"integration": result.integration + ' (' + result.integrationId + ')',
				// "scriptName": result.scriptName,
				"script": result.scriptName + ' (' + result.scriptId + ')',
				"status": result.status,
				"wouldBeRejected": result.wouldBeRejected,
			};
			formattedResults.push(formattedResult);
		}
		// update results table
		let requestTable = new Tabulator("#requestTable", {
			data:formattedResults,
			layout:"fitColumns",
			columns:[
				{ title:"startDateMS", field:"startDateMS", visible:false },
				{ title:"endDateMS", field:"endDateMS", visible:false },
				{ title:"Rejected?", field:"wouldBeRejected", visible:false },
				{ title:"Status", field:"status", sorter:"string", width:110 },
				{ title:"Start Time", field:"startDate", sorter:"string", width:160, hozAlign:"center" },
				{ title:"End Time", field:"endDate", sorter:"string", width:160, hozAlign:"center" },
				{ title:"Duration", field:"duration", sorter:"number", width:130, hozAlign:"center" },
				{ title:"Type", field:"type", sorter:"string", width:120 },
				{ title:"Operation", field:"operation", sorter:"string", width:120 },
				{ title:"Integration", field:"integration", sorter:"string" },
				{ title:"Script", field:"script", sorter:"string" },
			],
			rowFormatter:function(row) {
				let rowValues = row.getData();
				console.log('rowValues = ' + JSON.stringify(rowValues));
				if (rowValues["wouldBeRejected"]) {
					row.getElement().style.backgroundColor = "#B85B5B";
				}
			}
		});
		// define row click event function
		requestTable.on("rowClick", function(e, row){
			console.log(row.getData());
			const startDateMS = row.getData().startDateMS; // 1684343700000
			const endDateMS = row.getData().endDateMS; // 1684344600000
			const type = row.getData().type;
			const scriptId = getCoreId(row.getData().script);
			// determine script type (if applicable)
			let scriptType = '';
			switch (type) {
				case 'RESTLET':
					scriptType = 'restlet';
					break;
				default:
					console.error('Request type not recognized: ' + type);
			}
			if (scriptType) {
				// open new tab with APM script detail
				window.open('{{{scriptUrl}}}&action=apmScriptDetail' + '&startDate=' + startDateMS + '&endDate=' + endDateMS + '&scriptType=' + scriptType + '&scriptId=' + scriptId, '_blank');
			}
		});
	}

	/**
	 * Build the relative URL to get the concurrency requests.
	 *
	 * @param {string} accountId - the NetSuite account ID
	 * @returns {string} url - the url to get the concurrency detail
	 */
	function getConcurrencyRequestUrl(accountId, startDate, endDate) {
		console.log('getConcurrencyRequestUrl() initiated with ' + JSON.stringify({ accountId: accountId, startDate: startDate, endDate: endDate }));
		// example URL: /app/site/hosting/scriptlet.nl?script=customscript_nsapm_cd_sl_instances_v2&deploy=customdeploy_nsapm_cd_sl_instances_v2&testmode=F&startDateMS=1683659400000&endDateMS=1683659460000&compfil=(REDACTED)&allocatedList=&concurrencyMode=noallocation&integId=&sort=startDate&dir=ASC&pageLimit=10&startIndex=0
		const path = '/app/site/hosting/scriptlet.nl';
		const pageLimit = 1000;
		params = [];
		params.push('script=customscript_nsapm_cd_sl_instances_v2'); // script (note cd instead of cm)
		params.push('deploy=customdeploy_nsapm_cd_sl_instances_v2'); // deploy (note cd instead of cm)
		params.push('compfil=' + accountId); // account ID
		params.push('testmode=F'); // testmode
		params.push('startDateMS=' + startDate); // start date
		params.push('endDateMS=' + endDate); // end date
		params.push('concurrencyMode=noallocation'); // concurrency mode
		params.push('allocatedList='); // allocated list
		params.push('integId='); // integration ID
		params.push('sort=startDate'); // sort column
		params.push('dir=ASC'); // sort direction
		params.push('pageLimit=' + pageLimit); // page limit
		url = path + '?' + params.join('&');
		console.log('getConcurrencyRequestUrl() returning ' + url);

		return url;
	}
</script>
