/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Tailwind CSS v3 uses `gray.200` as the default border color.
  This shim preserves that behavior when upgrading to v4, which
  changes the default to `currentColor`.

  Safe to remove once all border usage is audited and explicitly styled.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: theme('colors.gray.200', currentcolor);
  }
}

/* react-data-grid styling */

#grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.fill-grid {
  block-size: 100%;
}
